* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page {
    height: 100vh;
}

.container {
    height: calc(100vh - 56px);
}

/* Chat styles */

.chat__main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
    font-size: 14px;
}

.compose button {
    font-size: 14px;
    cursor: pointer;
    padding: 12px;
    background: #0d6efd;
    border: none;
    color: white;
}
